#main {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    display: none;
}

div.tooltip {
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#home {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    overflow: auto;
}

.flex-grid {
    display: block;
    text-align: center;
    width: 150px;
    margin: 10px;
}

#home > section > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#home h1, #home h2 {
    text-align: center;
    margin-top: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

#overlay {
    position: absolute;
    background: rgba(200, 200, 200, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.history-item .katex {
    font-size: 1.1em;
}
