<!DOCTYPE html>
<html>
    <head>
        <title>{{ channel_name }} Presentation</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.css" integrity="sha384-+MsSfd29vjUzcyqYURxcmpWGtqoSHBy+QdEJNLEslXQftxojQv0k6BGDqUNp9GtA" crossorigin="anonymous">
        
        <style>
            html, body {
              height: 100%;
              min-height: 100%;
              overflow: hidden;
            }
            
            #main {
                    height: 98%;
                    min-height: 98%;
                    overflow: hidden;
                    position: relative;
            }
            
            #main-svg {
                    width: 100%;
                    height: 100%;
            }
            
            #status {
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    z-index: 1000;
            }
            div.tooltip {	
                text-align: center;
                padding: 5px;
                font: 12px sans-serif;		
                background: lightsteelblue;
                border: 0px;
                border-radius: 8px;
                pointer-events: none;
            }
            .class {
                pointer-events: fill;
            }
            
            hr { height:2px; visibility:hidden; margin-bottom:-1px; }









[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}
            </style>
</head>
<body>
    <script src="/static/webclient" type="text/javascript"></script>
    <!-- This next script allows us to call Mousetrap.bind(dictionary-of-bindings) -->
    <!--<script src="https://github.com/ccampbell/mousetrap/blob/master/plugins/bind-dictionary/mousetrap-bind-dictionary.min.js" type="text/javascript"></script>!-->
    <div id="main" style="left:25pt; width:96%; height:90%"></div>
    <div style="position:absolute; bottom:15pt; left: 25pt">
        <span id="mode" style="font-weight: bold;"></span>
        <span id="mode_info" style="margin-left: 10pt;"></span>
    </div>
    <div id="x-axis-label" style="position: absolute; left: 505pt; bottom: 15pt; font-size: 20pt; display:none;">t-s</div>
    <div id="y-axis-label" style="position: absolute; left: 20pt; top: 278pt; font-size: 20pt; display:none;">s</div>
<script>
"use strict";

function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

let ws = new WebSocket("ws://localhost:{{ port }}/ws/{{ directory }}/{{ channel_name }}");

// ws.onclose = function(e) {
//     console.log('Disconnected!');
// };

let main_div = document.querySelector("#main");
function make_display(sseq){
    let display = new BasicDisplay(main_div, sseq);
    display.svg_unclipped = true;
    if(false){ // IPAD Screen
        display.svg_x_offset = -5.9;
        display.svg_y_offset = 3.2;
        display.svg_scale = 1.5;
    } else if(true){ // Big monitor
        display.svg_x_offset = -6.03;
        display.svg_y_offset = 3.45;
        // display.svg_x_scale = 2.6;
        display.svg_scale = 1.52;
        main_div.style.height = "1235";
        main_div.style.height = "1235";
    }
    display.y_clip_offset = 100;
    return display;
}

let sseq_socket = new SpectralSequenceSocketListener(ws, make_display);

function send_introduction_message(){
    console.log("send_introduction_message");
    this.send("new_user", {});
    this.send("slideshow.chart.initialize", {});
}
sseq_socket.send_introduction_message = send_introduction_message.bind(sseq_socket);


function next(){
    console.log("next");
    sseq_socket.send("slideshow.next", {
        "chart_idx" : sseq_socket.chart_idx, 
        "overlay_idx" : sseq_socket.overlay_idx,
    });
}

function previous(){
    sseq_socket.send("slideshow.previous", {
        "chart_idx" : sseq_socket.chart_idx, 
        "overlay_idx" : sseq_socket.overlay_idx,
    });
}

let always_bindings = {
    "r r r" : () => sseq_socket.send("slideshow.reset", {}), 
    "t" : () => sseq_socket.send("console.take", {}),
    // "s" : (e) => {
    //     e.preventDefault();
    //     sseq_socket.send("io.save", {});
    // },
    // "escape" : () => {
    //     sseq_socket.send("interact.mode.cancel", {});
    //     Mode.cancel();
    // },
    'left' : () => sseq_socket.display.previousPage(),
    'right' : () => sseq_socket.display.nextPage(),
    // "f" : () => {
    //     sseq_socket.send("io.process_screenshot", {})
    // }
    "n" : next,
    "b" : previous
}

function add_key_bindings(bindings){
    for(let [k, v] of Object.entries(bindings)){
        Mousetrap.bind(k, v);
    }
}
add_key_bindings(always_bindings);

function request_overlay_batch(chart_idx){
    if(sseq_socket.chart_promises[chart_idx] !== undefined) {
        return;
    }
    sseq_socket.chart_promises[chart_idx] = new Promise((resolve, reject) => 
        sseq_socket.chart_promises_resolves[chart_idx] = resolve
    );
    sseq_socket.send("slideshow.overlay.request_batch", { "chart_idx" : chart_idx });
}


function request_nearby_overlay_batches(){
    request_overlay_batch(sseq_socket.chart_idx);
    request_overlay_batch(sseq_socket.chart_idx + 1);
    request_overlay_batch(sseq_socket.chart_idx - 1);
}

function update_overlay(){
    sseq_socket.overlay_promises[sseq_socket.chart_idx][sseq_socket.overlay_idx]
        .then(async function(img){
            // sseq_socket.info("not-really-error", {"msg" : img.src, "orig_msg" : { "kwargs" : {}, "cmd" : "none"}})
            sseq_socket.display.svg = img;
            await sleep(5);
            sseq_socket.display.update();
        });
}

sseq_socket.add_message_handlers_from_object({
    "slideshow.initialize" : function(cmd, args, kwargs) {
        sseq_socket.chart_idx = kwargs["chart_idx"];
        sseq_socket.overlay_idx = kwargs["overlay_idx"];
        sseq_socket.chart_promises = [];
        sseq_socket.chart_promises_resolves = [];
        sseq_socket.overlay_promises = [];
        console.log("recv: slideshow.intialize");
        request_nearby_overlay_batches();
        // chart_promises guarantees that request_overlay_batch heard back from the server
        // about the list of files. Next we'll display the appropriate overlay.
        sseq_socket.chart_promises[sseq_socket.chart_idx].then(async function(){
            let img = await sseq_socket.overlay_promises[sseq_socket.chart_idx][sseq_socket.overlay_idx];
            sseq_socket.display.svg = img;
            await sleep(5);
            sseq_socket.display.update();
        });
    },
    "slideshow.overlay.load_batch" : function(cmd, args, kwargs) {
        console.log("overlay.load_batch", kwargs);
        // We were sent the list of overlay svgs. Now we need to ask the server for all of them.
        let overlay_promises = [];
        for(let file of kwargs["file_list"]){
            let img = new Image;
            let promise = new Promise(function loaded_svg(resolve, reject){
                img.onload = () => {
                    // console.log(`loaded file`, file);
                    // console.log(`img.src:`, img.src);
                    resolve(img);
                };
                img.onerror = function() {
                    console.error(`Image ${file} failed to load.`);
                    reject();
                }
            });
            img.src = file;
            overlay_promises.push(promise);
        }
        sseq_socket.overlay_promises[kwargs.chart_idx] = overlay_promises;
        // Chart promises is only an affirmation that overlay_promises has been defined.
        // The overlay promises say if the images were actually loaded successfully.
        let resolve_chart_promise = sseq_socket.chart_promises_resolves[kwargs.chart_idx];
        resolve_chart_promise();
    },
    "slideshow.overlay.switch" : function(cmd, args, kwargs){
        let server_chart_idx  = kwargs["chart_idx"];
        let server_overlay_idx  = kwargs["overlay_idx"];
        let overlay_change_direction = kwargs["change_direction"];

        if(server_chart_idx != sseq_socket.chart_idx){
            throw Error(`Unexpected server_chart_idx. My chart index is ${sseq_socket.chart_idx} but server thought it was ${server_chart_idx}`);
        }

        if(server_overlay_idx != sseq_socket.overlay_idx + overlay_change_direction){
            throw Error(
                `Unexpected server_overlay_idx. ` +
                `My overlay index is ${sseq_socket.overlay_idx} but server overlay index is ${server_overlay_idx} ` +
                `change direction is ${overlay_change_direction}.`
            );
        }
        sseq_socket.overlay_idx = server_overlay_idx;
        update_overlay();

    },
    "slideshow.chart.switch" : function(cmd, args, kwargs) {
        console.log("state:", kwargs["state"]);
        let server_chart_idx  = kwargs["chart_idx"];
        let server_overlay_idx  = kwargs["overlay_idx"];
        let change_direction =  kwargs["change_direction"];
        console.log(server_chart_idx, server_overlay_idx, change_direction);
        if(server_chart_idx != sseq_socket.chart_idx + change_direction){
            throw Error(// TODO: fix message here.
                `Unexpected server_chart_idx. My chart index is ${sseq_socket.chart_idx} `+ 
                `but server_idx: ${server_chart_idx} cdir: ${change_direction}.`
            );
        }
        sseq_socket.chart_idx = server_chart_idx;
        sseq_socket.overlay_idx = server_overlay_idx;
        request_nearby_overlay_batches();

        update_overlay_offset();
        update_overlay();
        // Sleep 5 milliseconds to sync update of svg with update of chart data.
        sleep(5).then(() => 
            sseq_socket.message_dispatch["chart.state.reset"](cmd, args, kwargs)
        );
    }
});

function ko_offset(){
    sseq_socket.display.svg_x_offset = -6.03;
    sseq_socket.display.svg_y_offset = 3.45;
    sseq_socket.display.svg_scale = 1.52;
}

function novikov_offset(){
    sseq_socket.display.svg_x_offset = -18.33;
    sseq_socket.display.svg_y_offset = 4.15;
    // display.svg_x_scale = 2.6;
    sseq_socket.display.svg_scale = 1.52;
    // main_div.style.height = "1235";
}

function ass_offset(){
    sseq_socket.display.svg_x_offset = -18.33;
    sseq_socket.display.svg_y_offset = 7.15;
    // display.svg_x_scale = 2.6;
    sseq_socket.display.svg_scale = 1.52;      
}

function EO3_offset(){
    sseq_socket.display.svg_x_offset = -36;
}

let chart_types = [
    [0, 10, "ko"], 
    [10, 14, "novikov"], 
    [14, 15, "ass"], 
    [15, 18, "novikov"], 
    [18, 20, "ko"],
    [20, 29, "eo3-72"],
    [29, 30, "eo3-144"],
    [30, 33, "eo5"],
    [33, 35, "ko-sm-eta"],
    [35, 50, "eo3-sm-x3"]
]
let overlay_offset_lookup = {
   "ko" : {
        "svg_x_offset" : -6.03, // -4 -- 12
        "svg_y_offset" : 3.45,  // 0 -- 12?
   },
   "ko-sm-eta" : {
        "svg_x_offset" : -6.03, // -4 -- 12
        "svg_y_offset" : 4.15,  // 0 -- 12?
   },
   "novikov" : {
        "svg_x_offset" : -18.33, //
        "svg_y_offset" : 4.15
   },
   "ass" : {
        "svg_x_offset" : -18.33,
        "svg_y_offset" : 7.15,
   },
   "eo3-72" : {
        "svg_x_offset" : -24.1,
        "svg_y_offset" : 4.9,
   },
   "eo3-144" : {
        "svg_x_offset" : -47.1,
        "svg_y_offset" : 4.9,
   },
   "eo3-sm-x3" : {
        "svg_x_offset" : -48,
        "svg_y_offset" : 3.4,
   },
   "eo5" : {
        "svg_x_offset" : -530, // 0 -- 1630?
        "svg_y_offset" : 14.15, // 0 -- 40
   }

}


function update_overlay_offset(){
    for(let [min, max, name] of chart_types) {
        if(sseq_socket.chart_idx < max) {
            // console.log("hi");
            Object.assign(sseq_socket.display, overlay_offset_lookup[name]);
            // sseq_socket.display.svg_x_offset = sseq_socket.display.svg_x_offset | -1
            // sseq_socket.display.svg_y_offset = sseq_socket.sseq.y_range[1] + 10;
            return
        }
    }
    console.log("No offset defined for this page.")
    // display.svg_x_offset = -6.03;
    
    // display.svg_scale = 1.52;
}

function start(ss_sock){
    ss_sock.start();
}

start(sseq_socket);
</script>        
</body>
</html>