basic_webclient
ext
file-formats
js_spectralsequences
steenrod-modules
steenrod_calculator
virtualenv
webserver
**/__pycache__
**/node_modules
**/npm-debug.log
**/*.rs.bk
**/*.lock


# Probably need these back in ext.
target
dist
package-lock.json
resolution.save
