# Python
**/__pycache__
**/virtualenv

# Node
**/node_modules
**/npm-debug.log

# Rust
**/*.rs.bk
**/Cargo.lock

**/dist/


# Probably need these back in ext.
# Maybe should include target & dist in repo?
target 
# dist
target/
package-lock.json
resolution.save
Cargo.lock
webclient/repl/pyodide-build-0.15.0
webclient/repl/dist
chart/python/build
chart/python/dist
chart/python/*.egg-info

#vscode
**/.vscode
**/*.code-workspace

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Claude
.claude

