# Python
**/__pycache__
**/virtualenv

# Node
**/node_modules
**/npm-debug.log

# Rust
**/*.rs.bk
**/*.lock
**/cachegrind
**/time

# Probably need these back in ext.
# Maybe should include target & dist in repo?
target 
dist
package-lock.json
*.save

**/flamegraph.svg
**/perf.data
**/perf.data.old
