[package]
name = "ext"
version = "0.1.0"
authors = ["Hood Chatham <hood@mit.edu>", "Dexter Chua <dexter@math.harvard.edu>"]
edition = "2018"
description = "Compute Ext over the Steenrod algebra"
repository = "https://github.com/SpectralSequences/ext/"
license = "(MIT OR Apache-2.0)"
resolver = "2"

[dependencies]
algebra = { path = "crates/algebra", default-features = false }
bivec = { path = "crates/bivec"}
error = { path = "crates/error"}
fp = { path = "crates/fp", default-features = false, features = ["json"] }
once = { path = "crates/once"}
saveload = { path = "crates/saveload" }
thread-token = { path = "crates/thread-token", optional = true }
rustc-hash = "1.1.0"
pico-args = { version = "0.4.0", default-features = false }
crossbeam-channel = { version = "0.5.0", optional = true }
crossbeam-utils = { version = "0.8.0", optional = true }

serde_json = "1.0.0"

[dev-dependencies]
expect-test = "1.1.0"
chart = { path = "crates/chart" }
query = { path = "crates/query" }

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
# This makes the compiled code faster and smaller, but it makes compiling slower,
# so it's only enabled in release mode.
lto = true
opt-level = 3
debug = true
codegen-units = 1

[features]
default = ["odd-primes", "yoneda", "extras"]

extras = ["algebra/extras"]
yoneda = ["extras"]
cache-multiplication = []
concurrent = ["thread-token", "crossbeam-channel", "crossbeam-utils"]
odd-primes = ["fp/odd-primes", "algebra/odd-primes"]

[workspace]
members = [
    "crates/algebra",
    "crates/bivec",
    "crates/fp",
    "crates/once",
    "crates/saveload",
    "crates/thread-token",
    "crates/error",
    "crates/chart",
]

[[bench]]
name = "resolve"
harness = false

[[bench]]
name = "resolve_concurrent"
harness = false

[[bench]]
name = "secondary"
harness = false
