[package]
name = "bivec"
version = "0.1.0"
authors = [
    "Hood Chatham <hood@mit.edu>",
    "Dexter Chua <dexter@math.harvard.edu>",
]
edition = "2024"

[dependencies]
serde = "1.0.219"

[features]
