[package]
name = "fp"
version = "0.1.0"
authors = ["Dexter Chua <dexter@math.harvard.edu>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde_json = { version = "1.0.0", optional = true }
serde = { version = "1.0.0", optional = true }
saveload = { path = "../saveload" }
itertools = { version = "0.10.0", default-features = false }
cfg-if = "1.0.0"

[dev-dependencies]
rand = "0.7.0"
rstest = "0.10.0"
bencher = "0.1.5"
expect-test = "1.1.0"

[features]
default = ["odd-primes"]

odd-primes = []
json = ["serde_json", "serde"]

[[bench]]
name = "bench"
harness = false
