[package]
name = "fp"
version = "0.1.0"
authors = ["Dexter Chua <dexter@math.harvard.edu>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde_json = { version = "1.0.0", optional = true }
serde = { version = "1.0.0", optional = true }
saveload = { path = "../saveload" }
itertools = { version = "0.10.0", default-features = false }
cfg-if = "1.0.0"
build_const = "0.2.2"

[dev-dependencies]
rand = "0.8.4"
rstest = "0.11.0"
criterion = { version = "0.3.5", features = ["html_reports"] }
iai = "0.1.1"
expect-test = "1.1.0"

[build-dependencies]
build_const = "0.2.2"

[features]
default = ["odd-primes"]

odd-primes = []
json = ["serde_json", "serde"]

[[bench]]
name = "criterion"
harness = false

[[bench]]
name = "iai"
harness = false
