[package]
name = "algebra"
version = "0.1.0"
authors = ["Hood Chatham <hood@mit.edu>", "Dexter Chua <dexter@math.harvard.edu>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde_json = { version = "1.0.0", optional = true }
serde = { version = "1.0.0", features = ["derive"], optional = true }
# Cannot upgrade due to https://gitlab.com/antonok/enum_dispatch/-/issues/34
enum_dispatch = "=0.3.2"
itertools = "0.9.0"
lazy_static = "1.2.0"
nom = { version = "5.0.0", default-features = false, features = ["alloc"] }
syn = "=1.0.57"
rustc-hash = "1.1.0"


bivec = { path = "../bivec"}
error = { path = "../error" }
fp = { path = "../fp", default-features = false }
once = { path = "../once" }
saveload = { path = "../saveload" }

[dev-dependencies]
rand = "0.7.0"
rstest = "0.6.4"
bencher = "0.1.5"
expect-test = "1.1.0"

[features]
default = ["odd-primes", "json"]
json = ["serde", "serde_json", "bivec/json"]
extras = []
odd-primes = ["fp/odd-primes"]

[[bench]]
name = "milnor"
harness = false
