html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    display: none;
}

div.tooltip {
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#home {
    font-family: serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home > span {
    display: inline-block;
}

.history-item {
    cursor: pointer;
}
