:root {
    --primary-0: rgba(255,236, 88,1);	
    --primary-1: rgba(255,254,243,1);
    --primary-2: rgba(255,244,154,1);
    --primary-3: rgba(255,229, 25,1);
    --primary-4: rgba(255,226,  0,1);

    --complement-0: rgb(6, 4, 8);	
    --complement-1: rgba(248,243,254,1);
    --complement-2: rgba(192,158,246,1);
    --complement-3: rgba(119, 44,243,1);
    --complement-4: rgba( 93,  3,241,1);

    --primary-0: rgba(103, 91,  0,1);	
    --primary-1: rgba( 65, 58,  2,1);
    --primary-2: rgba( 79, 70,  0,1);
    --primary-3: rgba(155,138,  0,1);
    --primary-4: rgba(211,187,  0,1);

    --complement-0: rgba( 29,  4, 70,1);
    --complement-1: rgba( 20,  5, 44,1);
    --complement-2: rgba( 23,  4, 54,1);
    --complement-3: rgba( 45,  8,106,1);
    --complement-4: rgba( 60,  9,144,1);  

    --primary-0: 56, 54, 41;	/* Main Primary color */
    --primary-1: 134,129, 103;
    --primary-2: 96, 92, 74;
    --primary-3: 52, 48, 30;
    --primary-4: 47, 43, 21;

    --complement-0: rgba( 57, 20,175, 1);
    --complement-1: rgba(115, 90, 195, 1);
    --complement-2: rgba(86, 56, 180, 1);
    --complement-3: rgba(43, 14, 136, 1);
    --complement-4: rgba(32,  9, 106, 1);

    --focus-outline-color : var(--complement-2);
    --focus-outline-thickness : 1px;
}

a {
    color : inherit;
    text-decoration: none;
}

:focus {
    outline: var(--focus-outline-color) solid var(--focus-outline-thickness);
}

#header-main {
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--primary-4), 1);
    color : rgba(255,255,255,0.83);
}

#header-border {
    background-image: linear-gradient(to bottom, rgba(var(--primary-4),1) 0%,rgba(var(--primary-4),0) 100%);
    height : 3px;
}

#header-title, #header-description {
    align-self: center;
}

body {
    margin: 0px;
    background : rgba(133,113,0, 0.3);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#body {
    display: flex;
    flex-direction: row;
    flex-grow : 1;
}

#sidebar {
    display:flex;
    flex-direction: column;
    margin-top : 12px;
    background : rgba(var(--primary-4), 1);
    width : 250px;
    height : initial;
    color : rgba(255, 255, 255, 0.75);
    padding-left : 10px;
}

.sidebar-item {
    margin-top: 20px;
}

.sidebar-subitem {
    margin-left: 20px;
    margin-top : 3px;
}