:root {
    --focus-outline-color: rgba(var(--complement-2), 1);
    --focus-outline-thickness : 1px;
}

:focus {
    outline: var(--focus-outline-color) solid var(--focus-outline-thickness);
}

katex-expr {
    border: rgba(0,0,0,0) solid v
    ar(--focus-outline-thickness);
}

input:invalid {
   border-color: #FDD !important;
   background-color:  #900 !important;
}

katex-expr:focus {
    outline-style: none;
    border: var(--focus-outline-color) solid var(--focus-outline-thickness);
}

.error {
    width  : 100%;
    padding: 0.3em;
    font-size: 80%;
    color: white;
    opacity: 0;
    background-color: #900;     
    box-sizing: border-box;
}

input[transition=show] {
    transition : 0.5s ease;
}
.error[transition=show] {
    transition : 0.5s ease;
}

input[transition=hide] {
    transition : 0.2s ease;
}
.error[transition=hide] {
    transition : 0.2s ease;
}        

.error.active {
    opacity: 1;
}        


/* outline*/
tr {
    border-top: rgba(0,0,0,0) double var(--focus-outline-thickness);
}

tr:last-child {
    border-bottom: rgba(0,0,0,0) double var(--focus-outline-thickness);
}

tr:focus {
    border-color: var(--focus-outline-color);
    border-style: double;
    border-width: var(--focus-outline-thickness);
    outline : none;
}

.sidebar-group {
    padding: 0px 20px 0px 5px;
    margin: 15px 0px 15px 0px;
}

.sidebar div {
    /* Only works on Firefox */
    scrollbar-width: thin;
}

[tab] {
    text-align: center;
    padding-right: 1.5rem; 
    padding-top: 0.8rem; 
    /*padding-bottom: 2rem;*/
    /*height: 100vh;*/
}

sseq-sidebar h4 {
    --text-opacity : 0.87;
    color : rgba(var(--text-color), var(--text-opacity));
    /* font-size: 120%; */
    font-weight: 450;
    margin: 0.25rem 0rem;
    margin-bottom: 0.8rem;
}

sseq-sidebar h5 {
    --text-opacity : 0.87;
    color : rgba(var(--text-color), var(--text-opacity));
    font-size: 120%;
    font-weight: 400;
    margin: 0.25rem 0rem;
    margin-bottom: 0.8rem;
}

sseq-sidebar div {
    display: flex;
    flex-direction: column;
}        

input {
    font-family: inherit;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    line-height: inherit;
    border-radius: 0.25rem;
    border: 1px solid #CCC;
}

.input-row {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
}

.input-row label {
    margin-right: 0.6rem;
    text-align: right;
}

.input-row input {
    flex-grow: 1;
    width: 1px;
}

sseq-tooltip {
    --text-color : var(--complement-3-text);
    --text-opacity : 1;
    background: rgba(var(--complement-3), 1);
}


.status-indicator {
    position: absolute;
    bottom : 10px;
    left : 10px;
    --text-color : var(--complement-3-text);
    --text-opacity : 1;
    background: rgba(var(--complement-3), 1);
    color : rgba(var(--text-color), var(--text-opacity));
    opacity: 0;
    padding : 3px;
}

.status-indicator[shown] {
    opacity: 1;
}

.status-indicator[transition=show] {
    transition : opacity 200ms ease-out;
}

.status-indicator[transition=hide] {
    transition : opacity 500ms ease-in;
}



sseq-matrix {
    --row-selected : rgba(var(--complement-3),0.7);
    --row-hover : rgba(var(--complement-3), 0.4); /* rgba(0, 0, 255, 0.25);*/
    --row-hover-selected : rgba(var(--complement-3),1);
    --row-active : rgba(var(--complement-2),1);
    --row-active-selected : rgba(var(--complement-2),0.5); /* about to turn off */
}

sseq-sidebar * {
    color : rgba(var(--text-color), var(--text-opacity));
}

sseq-sidebar {
    --text-opacity : var(--disabled-text-opacity);
}

sseq-sidebar [tabindex="0"] {
    --text-opacity : 0.7;
}

sseq-sidebar :hover[tabindex="0"] {
    --text-opacity : 0.87;
}

sseq-sidebar :active[tabindex="0"] {
    --text-opacity : 1;
}


::selection {
    background : rgba(var(--selection-background-color), 1);
}

.name:active {
    --text-opacity : 1;
}

input[type=text] {
    border-radius: 0px;
    background-color: rgba(var(--input-background-color), 1);
    color : rgba(var(--input-text-color), 1);
    border: 1px solid #CCC; /* default for text input */
}

/*.help*/ dt {
    display : inline-block;
    margin-right : 10px;
}

/*.help*/ dd {
    display : inline-block;
}/**/

/*.help/ kbd {
    margin-left : 3px;
    margin-right : 3px;
}/**/
.help h4 {
    --text-opacity : 0.87;
    color : rgba(var(--text-color), var(--text-opacity));
}


:root {
    --body-background-color : var(--primary-4);
    --body-text-color : var(--primary-4-text);
    --header-background-color : var(--primary-2);
    --header-text-color : var(--primary-2-text);
}

:root {
    --disabled-text-opacity : 0.5;
    --text-opacity : 0.7;
    --button-text-color : var(--primary-2-text);
    --button-text-opacity : 0.8;
    --button-background-color : var(--primary-2);
    --button-background-opacity : 1;
    --input-background-color : var(--primary-1);
    --input-text-color : var(--primary-1-text);
    --close-icon-font-size : 18pt;
    --selection-background-color : var(--complement-0);
}

:root {
    --primary-0: 56, 54, 41;
    --primary-1: 134,129, 103;
    --primary-2: 96, 92, 74;
    --primary-3: 52, 48, 30;
    --primary-4: 47, 43, 21;

    --primary-0-text: 255, 255, 255;
    --primary-1-text: 255, 255, 255;
    --primary-2-text: 255, 255, 255;
    --primary-3-text: 255, 255, 255;
    --primary-4-text: 255, 255, 255;

    --complement-0: 57, 20,175;	
    --complement-1: 115, 90,195;
    --complement-2: 86, 56,180;
    --complement-3: 43, 14,136;
    --complement-4: 32,  9,106;

    --complement-0-text: 255, 255, 255;
    --complement-1-text: 255, 255, 255;
    --complement-2-text: 255, 255, 255;
    --complement-3-text: 255, 255, 255;
    --complement-4-text: 255, 255, 255;
}


kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

/* kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: var(--black-800);
    text-shadow: 0 1px 0 var(--white);
    background-color: var(--black-075);
    border: 1px solid var(--black-300);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(12,13,14,0.15),inset 0 1px 0 0 var(--white);
    white-space: nowrap;
} */


